html {
  scroll-behavior: smooth;
}

body {
  overflow: auto;
  background-color: var(--color-background-default);
  color: var(--color-text-default);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-loose);
}

header,
main,
footer {
  padding: var(--fluid-space-m);
}

h1 {
  margin-bottom: var(--spacing-3xl);
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-tight);
  text-wrap: balance;
}

h2 {
  margin-top: var(--spacing-3xl);
  margin-bottom: var(--spacing-l);
  font-size: var(--font-size-xl);
}

h3 {
  margin-top: var(--spacing-xl);
  font-weight: var(--font-weight-bold);
}

img {
  display: block;
  width: 100%;
}

p,
h3,
h4,
dd,
li,
figure {
  margin-bottom: var(--spacing-m);
}

p,
dd,
li,
figcaption {
  hyphens: auto;
}

strong {
  font-weight: var(--font-weight-bold);
}
