body:has(.main-navigation.is-active) {
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-button {
    display: none;
    padding: 0;
    border: none;
    background: none;
    color: var(--color-primary-default);
    font-size: var(--font-size-2xl);
  }

  .header-buttons {
    display: flex;
    margin-left: var(--spacing-m);
    gap: var(--spacing-m);
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .header-nav-sublist {
    display: none;
  }

  @media screen and (width <= 899px) {
    margin-bottom: var(--spacing-l);

    .header-overlay {
      display: none;
    }

    .header-overlay-open-button,
    .search-button {
      display: block;
    }

    .main-navigation {
      position: fixed;
      z-index: 1000;
      display: none;
      padding-top: var(--spacing-2xl);
      padding-bottom: var(--spacing-2xl);
      background-color: var(--color-background-default);
      inset: 0;
      overflow-y: auto;

      &.is-active {
        display: block;
      }
    }

    .main-navigation-close-button {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: var(--spacing-m);
      margin-right: var(--spacing-m);
    }

    .header-nav {
      font-size: var(--font-size-l);
      font-weight: var(--font-weight-regular);
      text-align: center;

      .header-nav-sublist {
        padding-bottom: var(--spacing-l);
        border-bottom: var(--border-width-m) solid var(--color-primary-default);
        font-weight: var(--font-weight-light);
      }

      li {
        margin-top: var(--spacing-l);
        margin-bottom: 0;
      }

      .header-nav-list {
        & > li:first-child {
          margin-top: 0;
        }
      }

      a {
        color: var(--color-text-default);
        text-decoration: none;
      }
    }
  }

  @media screen and (width >= 900px) {
    .header-nav-list {
      display: flex;
      flex-direction: row;
      gap: var(--spacing-m);

      li {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .search-button {
      display: block;
    }
  }
}

/* Search
############################################################################# */

.header {
  .header-search-input {
    height: 34px;
    border: none;
    border-bottom: var(--border-width-s) solid var(--color-text-default);
    margin-right: var(--spacing-xs);
    font-size: var(--font-size-l);

    &:focus {
      outline: none;
    }
  }
}
